#all_recipes_grid {
    border: transparent;
    position: absolute;
    left: 0;
    top: 7%;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(auto-fill, 30em);
    margin-top: 1em;
    margin-bottom: 0.5em;
    margin-right: 2em;
    margin-left: 2em;
    width: 92em;
    max-width: 100%;
    height: 88%;
    max-height: 100%;
    overflow-y: scroll;
    background-color:rgb(76, 203, 148);
    border-radius: 0.5em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}
#all_recipes_each {
    border: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0.4em;
    overflow: hidden;
    width: 99%;
    max-width: 100%;
    height: 25em;
    background-color:rgb(245, 255, 250);
    border-radius: 0.5em;
}
#all_recipes_title {
    max-height: 2em;
    margin-top: 0;
    padding: 0;
    margin-bottom: 0.3em;
}
#all_recipes_title h3 {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    border: 0.01em solid transparent;
}
#all_recipes_title h3:hover {
    cursor: pointer;
    border: 0.01em solid rgb(181, 223, 205);
    border-radius: 0.5em;
    padding: 0 0.5em 0 0.5em;
}
#all_recipes_settings {
    display: flex;
    justify-content: space-between;
    width: 28em;
    max-width: 28em;
    height: 1.5em;
    max-height: 1.5em;
    border: 0.01em solid rgb(181, 223, 205);
    border-radius: 0.5em;
}
#all_recipes_settings h6, p {
    margin: 0;
    display: flex;
    align-items: center;
    margin-left: 0.4em;
}
#all_recipes_difficulty {
    display: flex;
    flex: 1;
    margin-left: 3.5em;
    margin-right: 0.5em;
}
#all_recipes_difficulty h4 {
    margin-right: 0.5em;
}
#all_recipes_time {
    display: flex;
    flex: 1;
    margin-left: 1em;
    margin-right: 0.5em;
}
#all_recipes_time h4 {
    margin-right: 0.5em;
}
#all_recipes_time p {
    margin-right: 0.2em;
}
#all_recipes_img {
    margin-top: 0.5em;
    overflow-x: scroll;
    width: 28em;
    max-width: 28em;
    height: 20em;
    max-height: 20em;
}
#all_recipes_container {
    display: flex;
    align-items: center;
}
#all_recipes_img img {
    max-height: 290px;
    padding: 0.05em;
}
::-webkit-scrollbar {
    width: 1.5em;
    height: 1em;
}
::-webkit-scrollbar-track {
    background: rgb(181, 223, 205);
    border-radius: 0 0.5em 0.5em 0;
}
::-webkit-scrollbar-thumb {
    background-color: rgb(76, 203, 148);
    border-radius: 0.5em;
    border: 0.01em solid rgb(181, 223, 205);
}
::-webkit-scrollbar-thumb:hover {
    background: rgb(76, 203, 148);
}