#all_recipes_grid {
    border: 2px solid brown;
    position: absolute;
    left: 0;
    top: 2.1em;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(auto-fill, 30em);
    margin-top: 1em;
    margin-bottom: 0.5em;
    margin-right: 2em;
    margin-left: 2em;
    width: 92em;
    max-width: 100%;
    height: 40em;
    max-height: 100%;
    overflow-y: scroll;
    background-color:rgb(181, 223, 205);
}
#all_recipes_each {
    border: 2px solid green;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    margin: 0.4em;
    overflow: hidden;
    width: 460px;
    height: 400px;
    background-color:rgb(245, 255, 250);
}
#all_recipes_title {
    border: 1px solid black;
    max-height: 2.em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
#all_recipes_title h3 {
    border: solid 1px red;
    margin: 0;
    display: flex;
    align-items: center;
}
#all_recipes_settings {
    border: 1px solid goldenrod;
    display: flex;
    justify-content: space-between;
    width: 28em;
    max-width: 28em;
    height: 1.5em;
    max-height: 1.5em;
}
#all_recipes_settings h6, p {
    margin: 0;
    display: flex;
    align-items: center;
    margin-left: 0.4em;
}
#all_recipes_difficulty {
    border: 1px solid khaki;
    display: flex;
    flex: 1;
    margin-left: 3.5em;
    margin-right: 0.5em;
}
#all_recipes_difficulty h4 {
    margin-right: 0.5em;
}
#all_recipes_time {
    border: 1px solid lawngreen;
    display: flex;
    flex: 1;
    margin-left: 1em;
    margin-right: 0.5em;
}
#all_recipes_time h4 {
    margin-right: 0.5em;
}
#all_recipes_time p {
    margin-right: 0.2em;
}
#all_recipes_img {
    border: 1px solid orange;
    margin-top: 0.5em;
    overflow-x: scroll;
    width: 28em;
    max-width: 28em;
    height: 20em;
    max-height: 20em;
}
#all_recipes_container {
    border: 1px solid green;
    display: flex;
    align-items: center;
}
#all_recipes_img img {
    border: 1px solid red;
    max-height: 290px;
    padding: 0.05em;
}
