#navbar {
    position:absolute;
    display: flex;
    flex-wrap:wrap;
    align-items: center;
    justify-content:space-around;
    top: 0.5em;
    left: 2vw;
    margin-top: 0;
    width: 96vw;
    max-width: 96vw;
    min-height: 3em;
    border-radius: 50vw;
    border-color: transparent;
    background-color:rgb(76, 203, 148);
  }
  .navbar_links {
    padding: 0.5vw;
    border-radius: 1vw;
  }
  .navbar_links a {
    position:fixed; 
    display: inline-block;
    line-height: 1;
    z-index: 1;
    color: rgb(245, 255, 250);
    top: 3.5%;
}
  .navbar_links a::before {
    content: "";
    display: block;
    position: absolute; /* Position the pseudo-element relative to its containing block */
    top: 50%; /* Move the pseudo-element 50% from the top of its containing block */
    left: 50%; /* Move the pseudo-element 50% from the left of its containing block */
    transform: translate(-50%, -50%); /* Center the pseudo-element relative to its containing block */
    width: calc(100% + 3 * 0.5vw); /* Adjust the width to include padding */
    height: calc(100% + 2 * 0.5vw); /* Adjust the height to include padding */
    border-radius: 1vw;
    z-index: -1;
    transition: transform 0.03s ease; 
    background-color: rgb(76, 203, 148);
    box-shadow: 0 0 0.05vw 0.1vw rgb(181, 223, 205);
  }
  .navbar_links a:hover {
    color: rgb(76, 203, 148);
  }
  .navbar_links a:hover:before {
    transform: translate(-50%, -50%) scale(1.05);
    transition: transform 0.3s ease; /* ------ */
    background-color: rgb(245, 255, 250);
  }

 



  
