#add_recipe_main {
    display: flex;
    position:absolute;
    justify-content: center;
    align-items: center;
    left: 0;
    top: 8%;
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 100%;
    height: 88%;
    max-height: 100%;
    overflow-x: hidden;
  }
  #add_recipe_container {
    border: transparent;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin-top: 1%;
    margin-bottom: 0.5%;
    margin-right: 2%;
    margin-left: 2%;
    width: 80%;
    max-width: 80%;
    height: 98%;
    
    background-color:rgb(76, 203, 148);
    border-radius: 0.5em;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    padding-left: 0;
    padding-right: 0;
  }
  #add_recipe_publish {
    border: 1px solid rgb(181, 223, 205);
    border-radius: 0.5em;
    display: flex;
    align-items: center;
    justify-content: left;
    box-sizing: border-box;
    margin: 0.8em 0.4em 0.2em 0.4em;
    padding: 0.2em 0 0.2em 0;
    height: 3em;
    max-height: 5em;
    background-color:rgb(76, 203, 148);
  }
  #add_recipe_publish button {
    height: 2em;
    max-height: 2em;
    width: 6em;
    max-width: 100%;
    margin: 0.1em 0 0.1em 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgb(245, 255, 250);
  }
  #add_recipe_publish p{
    border: 1px solid red;
    height: 2em;
    max-height: 2em;
    width: fit-content;
    max-width: 95%;
    display: flex;
    justify-content: left;
    align-items: center;
    color: red;
    font-size: 80%;
  }
  #add_recipe_sides_main {
    flex-wrap: wrap;
    overflow-wrap: normal;
    display: flex;
    height: 88%;
    max-width:100%;
    box-sizing: border-box;
    margin: 0;
  }
        /* ------------------- LEFT SIDE */
  #add_recipe_left {
    display: flex;
    flex: 3;
    flex-direction: column;
    height: 98%;
    min-width:23.8em;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    margin-right: 0.1em;
    margin-top: 0.2em;
    margin-left: 0.2em;
    margin-right: 0.2em;
    overflow-x:hidden;
  }
  #add_recipe_title {        /* TITLE */
    border: 1px solid red;
    box-sizing: border-box;
    display: flex;
    justify-content:flex-start;
    height: 2em;
    max-height: 2em;
    margin-bottom: 0.2em;
    margin-top: 0.5em;
    width: 100%;
    max-width: 100%;
    margin-bottom: 0.3em;
  }   
  #add_recipe_title p {
    border: transparent;
    box-sizing: border-box;
    display: flex;
    margin: 0;
    padding: 0 0.3em 0 0.3em;
    width: 100%;
    max-width: 100%;
    align-content: flex-start;
    justify-content: center;
    height: 2em;
    max-height: 2em;
    background-color:rgb(245, 255, 250);
  }
  #add_recipe_title_input {
    width: 99%;
  }
  #add_recipe_title input {
    border: transparent;
    box-sizing: border-box;
    display: flex;
    overflow: hidden;
    margin: 0;
    width:inherit;
    max-width: 100%;
    align-content: flex-start;
    justify-content: center;
    height: 2em;
    max-height: 2em;
    background-color: white;
    max-width: 100%;
    align-content: flex-start;
    justify-content: center;
    height: 2em;
    max-height: 2em;
    background-color: white;
    max-width: 100%;
    align-content: flex-start;
    justify-content: center;
    height: 2em;
    max-height: 2em;
    margin-left: 0.2em;
    background-color: white;
  }
  #add_recipe_tags {        /* TAGS */
    border: transparent;
    flex-wrap: wrap;
    border-bottom: 1px solid rgb(245, 255, 250);
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;
    height: fit-content;
    max-height: 7em;
    margin-bottom: 0.3em;
  }
  #add_recipe_tags_add {
    display: flex;
    margin-right: 0.3em;
  }
  #add_recipe_tags input {
    border: transparent;
    box-sizing: border-box;
    height: 2em;
    max-height: 100%;
    margin: 0;
    width: 8em;
    max-width: 8em;
    margin-left: 0.2em;
    background-color: white;
    margin-bottom: 0.3em;
  }
  #add_recipe_tags_each {
    border: 1px solid red;
    box-sizing: border-box;
    display:contents;
    flex-wrap: wrap;
    height: 2em;
    max-height: 6.6;
    padding: 0 0.1em 0 0.1em;
    margin: 0;
  }
  #add_recipe_tags p {
    box-sizing: border-box;
    display: flex;
    margin: 0;
    width: fit-content;
    margin: 0;
    padding: 0 0.3em 0 0.3em;
    align-content: flex-start;
    height: 2em;
    max-height: 2em;
    justify-content: center;
    background-color:rgb(245, 255, 250);
    margin-bottom: 0.3em;
    margin-right: 0.1em;
  }
  #add_recipe_time_servings_difficulty {    /* TIME + SERVINGS + DIFFICULTY */
    flex-wrap: wrap;
    border-bottom: 1px solid rgb(245, 255, 250);
    margin-bottom: 0.3em;
    box-sizing: border-box;
    display: flex;
    justify-content:space-around;
    min-width: 15em;
    width: 100%;
    max-width: 100%;
    height: fit-content;
    max-height: 6.9em;
  }
  #add_recipe_time {        /* TIME */
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;
    height: 2em;
    max-height: 2em;
    margin-bottom: 0.3em;
    
    background-color:rgb(245, 255, 250);
  }
  #add_recipe_time_p1 {
    border: transparent;
    box-sizing: border-box;
    display: flex;
    margin: 0;
    padding: 0 0.3em 0 0em;
    width: fit-content;
    align-items: center;
    height: 2em;
    max-height: 2em;
    justify-content: center;
    background-color:rgb(245, 255, 250);
  }
  #add_recipe_time_p2 {
    border: transparent;
    box-sizing: border-box;
    display: flex;
    margin: 0;
    padding: 0 0.3em 0 0em;
    width: fit-content;
    align-items: center;
    height: 2em;
    max-height: 2em;
    justify-content:flex-start;
    background-color:rgb(245, 255, 250);
  }
  #add_recipe_time_p3 {
    border: transparent;
    box-sizing: border-box;
    display: flex;
    margin: 0;
    padding: 0 0.4em 0 0em;
    width: 2em;
    align-items: center;
    justify-content:center;
    width: fit-content;
    height: 2em;
    max-height: 2em;
    background-color:rgb(245, 255, 250);
  }
  #add_recipe_time input {
    border-right: 0.01em solid rgb(76, 203, 148);
    border-left: 0.01em solid rgb(76, 203, 148);
    border-top: transparent;
    border-bottom: transparent;
    box-sizing: border-box;
    display: flex;
    width: 2.5em;
    align-content: flex-start;
    justify-content: center;
    height: 2em;
    max-height: 2em;
    margin-left: 0.2em;
    margin-right: 0.2em;
    background-color: white;
  }
  #add_recipe_servings {     /* SERVINGS */
    border: transparent;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    height: 2em;
    max-height: 2em;
    margin-bottom: 0.3em;
    
    background-color:rgb(245, 255, 250);
  }
  #add_recipe_servings p {
    border: transparent;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    margin: 0;
    width: 5em;
    height: 2em;
    max-height: 2em;
    justify-content: center;
    background-color:rgb(245, 255, 250);
  }
  #add_recipe_servings input {
    border-right: transparent;
    border-left: 0.01em solid rgb(76, 203, 148);
    border-top: transparent;
    border-bottom: transparent;
    box-sizing: border-box;
    width: 2.5em;
    align-content: flex-start;
    justify-content: center;
    height: 2em;
    max-height: 2em;
    background-color: white;
  }
  #add_recipe_difficulty {     /* DIFFICULTY */
    border: transparent;
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    height: 2em;
    max-height: 2em;
    margin-bottom: 0.3em;
  }
  #add_recipe_difficulty p {
    border-right: 0.01em solid rgb(76, 203, 148);
    border-left: transparent;
    border-top: transparent;
    border-bottom: transparent;
    box-sizing: border-box;
    align-items: center;
    display: flex;
    margin: 0;
    width: 5em;
    height: 2em;
    max-height: 2em;
    justify-content: center;
    background-color:rgb(245, 255, 250);
  }
  #add_recipe_difficulty select {
    border: transparent;
    box-sizing: border-box;
    display: flex;
    width: 6em;
    max-width: 6em;
    align-content: flex-start;
    justify-content: center;
    height: 2em;
    max-height: 2em;
    background-color: white;
  }
  #add_recipe_ingredients {   /* INGREDIENTS */
    flex-wrap: wrap;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: fit-content;
    max-height: 9.4em;
    min-width: 15em;
    width: 100%;
    max-width: 100%;
    margin-bottom: 0.3em;
    border-bottom: 1px solid rgb(245, 255, 250);
  }
  #add_recipe_ingredients_title {
    border: transparent;
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    width:6em;
    max-width: 6em;
    height: 2em;
    max-height: 2em;
    background-color:rgb(245, 255, 250);
    margin-bottom: 0.3em;
  }
  #add_recipe_ingredients_options {
    flex-wrap: wrap;
    border: transparent ;
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: fit-content;
    max-height: 10em;
    width: 100%;
  }
  #add_recipe_ingredients_ingredient{
    display: flex;
    height: 2em;
    max-height: 2em;
    margin-bottom: 0.3em;
    margin-right: 0.2em;
  }
  #add_recipe_ingredients_p1 {
    border: transparent;
    box-sizing: border-box;
    display: flex;
    justify-content: left;
    align-items: center;
    width: 3.5em;
    height: 2em;
    max-height: 2em;
    background-color:rgb(245, 255, 250);
  }
  #add_recipe_ingredients_amount {
    display: flex;
    height: 2em;
    max-height: 2em;
    margin-bottom: 0.3em;
    margin-right: 0.2em;
  }
  #add_recipe_ingredients_p2 {
    border: 1px transparent;
    box-sizing: border-box;
    display: flex;
    justify-content: left;
    width: 4.5em;
    height: 2em;
    max-height: 2em;
    align-items: center;
    background-color:rgb(245, 255, 250);
  }
  #add_recipe_ingredients_units {
    display: flex;
    height: 2em;
    max-height: 2em;
    margin-bottom: 0.3em;
    margin-right: 0.2em;
  }
  #add_recipe_ingredients_p3 {
    border: transparent;
    box-sizing: border-box;
    display: flex;
    justify-content: left;
    align-items: center;
    width: 3em;
    height: 2em;
    max-height: 2em;
    background-color:rgb(245, 255, 250);
  }
  #add_recipe_ingredients_inp1 {
    border-top: transparent;
    border-bottom: transparent;
    border-left: 0.01em solid rgb(76, 203, 148);
    border-right: transparent;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 9em;
    height: 2em;
    max-height: 2em;
    background-color: white;
    margin-bottom: 0.3em;
  }
  #add_recipe_ingredients_inp2 {
    border-top: transparent;
    border-bottom: transparent;
    border-left: 0.01em solid rgb(76, 203, 148);
    border-right: transparent;
    display: flex;
    box-sizing: border-box;
    width: 4em;
    height: 2em;
    max-height: 2em;
    background-color: white;
    margin-bottom: 0.3em;
  }
  #add_recipe_ingredients select {
    border-top: transparent;
    border-bottom: transparent;
    border-left: 0.01em solid rgb(76, 203, 148);
    border-right: transparent;
    display: flex;
    box-sizing: border-box;
    width: 4.5em;
    height: 2em;
    max-height: 2em;
    background-color: white;
    margin-bottom: 0.3em;
  }
  #add_recipe_ingredients button {
    display: flex;
    box-sizing: border-box;
    width: 3em;
    justify-content: center;
    align-items: center;
    height: 2em;
    max-height: 2em;
    background-color:rgb(245, 255, 250);
    margin-bottom: 0.3em;
  }
  #add_recipe_ingredients_rendering {   /* INGREDIENTS RENDERING */
    flex-wrap: wrap;
    box-sizing: border-box;
    border: transparent;
    height:18em;
    max-height: 22em;
    width: 100%;
    max-width: 100%;
    align-items: center;
    background-color:white;
    overflow-y: auto;
  }
  #add_recipe_ingredients_rendering.show-scrollbar {
    overflow-y: auto; /* Display scrollbar when needed */
  }
  #add_recipe_ingredients_rendering::-webkit-scrollbar-track {
    background: rgb(181, 223, 205);
    border-radius: 0.5em 0 0 0.5em;
  }
  #add_recipe_ingredients_rendering::-webkit-scrollbar-thumb {
    background-color: rgb(76, 203, 148);
    border-radius: 0.5em 0 0 0.5em;
    border: 0.01em solid rgb(181, 223, 205);
}
  #add_recipe_ingredients_rendering p {
    border-radius: 1em;
    box-sizing: border-box;
    width: inherit;
    max-width: 100%;
    height: 2em;
    max-height: 2em;
    margin-bottom: 0.1em;
    margin-left: 0.2em;
    margin-top: 0.2em;
    padding: 0 0.5em 0 0.5em;
    text-align:center;
    background-color: white;
    display: flex;
    justify-content: center;
  }
  
        /* -------------------  RIGHT SIDE -------------------- */
  #add_recipe_right {
    border: 2px solid yellow;
    display: flex;
    flex: 4;
    flex-direction: column;
    max-height: 100%;
    height: 34.6em;
    min-width:24em;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    margin-top: 0.2em;
    margin-left: 0.2em;
    margin-right: 0.2em;
    overflow: hidden;
  }
  #add_recipe_options {       /* OPTIONS BOX */
    border: 1px solid blue;
    flex-wrap: wrap;
    width: 63em;
    max-width: 100%;
    height: 6.4em;
    max-height: 100%;
  }
  #add_recipe_options_left {  /* BOX-LEFT */
    border: 1px solid red;
    flex-wrap: wrap;
    flex: 1;
    flex-direction: column;
  }
  #add_recipe_image {         /* IMAGE */
    border: 1px solid green;
    height: 1.8em;
    max-height: 2em;
    margin-bottom: 0.2em;
  }
  #add_recipe_image p {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    margin: 0;
    width: 19.3em;
    max-width: 19.3em;
    height: 2em;
    max-height: 2em;
    background-color:rgb(245, 255, 250);
  }
  #add_recipe_language {       /* LANGUAGE */
    border: 1px solid greenyellow;
    display: flex;
    justify-content: flex-start;
    height: 1.8em;
    max-height: 2em;
    margin-bottom: 0.2em;
  }
  #add_recipe_language p {
    border: 1px solid black;
    display: flex;
    box-sizing: border-box;
    margin: 0;
    width: 6em;
    align-content: flex-start;
    max-height: 2em;
    background-color:rgb(245, 255, 250);
  }
  #add_recipe_language select {
    box-sizing: border-box;
    margin: 0;
    width: 12em;
    max-width: 100%;
    margin-left: 0.5em;
  }
  #add_recipe_cuisine {         /* CUISINE */
    border: 1px solid goldenrod;
    display: flex;
    justify-content: flex-start;
    height: 1.8em;
    max-height: 2em;
    margin-bottom: 0.2em;
  }
  #add_recipe_cuisine p {
    border: 1px solid black;
    display: flex;
    box-sizing: border-box;
    margin: 0;
    width: 6em;
    align-content: flex-start;
    max-height: 2em;
    background-color:rgb(245, 255, 250);
  }
  #add_recipe_cuisine select {
    box-sizing: border-box;
    margin: 0;
    width: 12em;
    max-width: 100%;
    margin-left: 0.5em;
  }
  #add_recipe_options_right {    /* BOX-RIGHT */
    flex-wrap: wrap;
    border: 1px solid ridge;
    display: flex;
    flex: 2;
  }
  #add_recipe_preview {        /* PREVIEW */
    border: 1px solid salmon;
    display: flex;
    width:38.7em;
    max-width:33.9em;
    height: 6.1em;
    box-sizing: border-box;
    overflow-x: scroll;
    margin-left: 0.1em;
    margin-right: 0.2em;
    background-color:rgb(245, 255, 250);
  }
  #add_recipe_images {
    box-sizing: border-box;
    margin: 0;
    max-height: 4.6em;
    max-width: 100%;
    margin-left: 0.5em;
    margin-right: 0.2em;
  }
  #add_recipe_instructions {    /* INSTRUCTIONS */
    border: 1px solid blue;
    flex-wrap: wrap;
    flex-direction: column;
    align-items:first baseline;
    width: 66.7em;
    max-width: 100%;
    background-color:rgb(245, 255, 250);
  }
  #add_recipe_instructions p {
    height: 2em;
    box-sizing: border-box;
    margin: 0;
  }
  #add_recipe_instructions textarea {
    height: 30em;
    max-height: 25em;
    width: 70em;
    max-width: 53.5em;
    box-sizing: border-box;
    margin: 0;
    overflow-y: scroll;
    box-sizing: border-box;
    display: flex;
    vertical-align: top;
    resize: none;
  }
  