#my_recipes_main {
    border: 1px solid red;
    position: absolute;
    left: 0;
    top: 2em;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    margin-top: 1em;
    margin-bottom: 0.5em;
    margin-right: 2em;
    margin-left: 2em;
    width: 92em;
    max-width: 100%;
    height: 40em;
    max-height: 100%;
}
#my_recipes_page_title {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items:center;
    height: 1.5em;
    max-height: fit-content;
    box-sizing: border-box;
    margin: 0 0 0.2em 0;
}                               /* SORT BY */
#my_recipes_sort_by {
    border: 1px solid orchid;
    display: flex;
    justify-content:space-between;
    align-items: center;
    box-sizing: border-box;
    padding-left: 2em;
    padding-right: 35em;
}
#my_recipes_sides {
    border: 1px solid olivedrab;
    height: 34.5em;
    max-height: 100%;
    width: 91.6em;
    max-width: 100%;
    display: flex;
}
                                /* -- LEFT Side -- */
#my_recipes_left {
    border: 1px solid orange;
    display: flex;
    flex: 6;
    padding: 0.2em 0.2em 0.4em 0.4em;
}
#my_recipes_recipe_left {
    border: 4px solid blue;
    display: flex;
    flex: 5;
}                                 /* NAME */
#my_recipes_name {
    border: 4px solid aqua;
    justify-content: center;
    width: 25em;
    margin: 0.2em;
    box-sizing: border-box;
}                                 /* IMAGE */
#my_recipes_image {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    width: 25em;
    max-width: 100%;
    height: 25em;
    max-height: 100%;
    box-sizing: border-box;
}                                 /* TAGS */    
#my_recipes_tags {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    width: 25em;
    max-width: 100%;
    height: 4em;
    margin: 0.5em 0.2em 1em 0.2em;
    box-sizing: border-box;
}
#my_recipes_tags p {
    margin: 0;
}
#my_recipes_recipe_right {
    border: 1px solid brown;
    display: flex;
    flex: 8;
    flex-direction: column;
    box-sizing: border-box;
}
#my_recipes_recipe_settings {
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    margin: 0.2em;
    box-sizing: border-box;
}                                 /* INSTRUCTIONS */
#my_recipes_recipe_instructions {   
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0.2em;
    box-sizing: border-box;
    height: 30em;
    max-height: 100%;
    width:41em;
    max-width: 100%;
}        
#my_recipes_recipe_instructions p {
    border: 1px solid black;
    margin-top: 0;
    margin-left: 0.2em;
    margin-right: 0.4em;
    width:40.4em;
    max-width: 100%;
    height: 30em;
    max-height: 100%;
}
                        /* -- RIGHT Side -- */
#my_recipes_right {
    border: 1px solid orchid;
    display: flex;
    flex: 2;
    padding: 0.2em 0.4em 0.4em 0.4em;
    flex-direction: column;
    align-items: first baseline;
    box-sizing: border-box;
    overflow-y: scroll;
}